.table {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    margin-left: 150px;
    border-left: 6px solid rgb(0, 255, 191);
    
 }
  
  td {
    font-family: "Verdana", Times, serif;
    padding: 10px;
    
}
   
  
   tr:hover {background-color: #ddd;
}

div.alinear {
    max-width: 1600px;
    height: 250px;
    margin-right: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: 100px
  }
  
  li {
    float: left;
    margin-left: 200px
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    border-bottom: 3px solid rgb(0, 255, 191);
}


div.fondoArriba {
    padding: 150px;
    background-repeat: no-repeat;
    background-size: auto;
}    
h1.center{
    text-align: center;
    text-transform: uppercase;
    color: white
}
tbody.colorFondo{
    background-color: white;
}

body.algo{
    background-color: rgb(219, 219, 219);
        background-repeat: no-repeat;
    background-size: auto;
}

/* div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  } */