<div class="super_container">

	<!-- Header -->
	

    <app-navbar></app-navbar>

	<br>
	<br>
	<br>
	<br>
	<div class="fondoArriba" style="background-image:url(assets/images/575203.png)">
		<h1 class="center">ADMINISTRAR EQUIPO</h1>
	</div>
	<ul>
			<li><a [routerLink]="['/torneo']" routerLinkActive="router-link-active">Inicio</a></li>
			<li><a [routerLink]="['/administrar-equipo/plantilla']" routerLinkActive="router-link-active">Plantilla</a></li>
			<li><a [routerLink]="['/torneo/goeladores']" routerLinkActive="router-link-active">Estadisticas</a></li>
			<li><a [routerLink]="['/torneo/asistencias']" routerLinkActive="router-link-active">Cambiar Logo</a></li>
			<li><a [routerLink]="['/torneo/sanciones']" routerLinkActive="router-link-active">Invitar Jugador</a></li>
			<li><a [routerLink]="['/administrar-equipo/reportarpartido']" routerLinkActive="router-link-active">Reportar Partido</a></li>
	</ul>


	<!-- <div class="container-fluid">
		<div class="col-md-6">
			<h2 style="text-align:center">DT</h2>

			<div class="card">
			<img src="assets/images/58_g.png" alt="John" style="width:100%">
			<h3>John Doe</h3>
			<p class="title">Estudiantes Rio4 eSports</p>
			<p>MCO</p>
			<div style="margin: 24px 0;">
				<a href="#"><i class="fa fa-dribbble"></i></a> 
				<a href="#"><i class="fa fa-twitter"></i></a>  
				<a href="#"><i class="fa fa-linkedin"></i></a>  
				<a href="#"><i class="fa fa-facebook"></i></a> 
			</div>
			<p><button>Ver Pefil</button></p>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="col-md-6">
				<h2 style="text-align:center">SUB DT</h2>
	
				<div class="card">
				<img src="assets/images/58_g.png" alt="John" style="width:100%">
				<h3>John Doe</h3>
				<p class="title">Estudiantes Rio4 eSports</p>
				<p>MCO</p>
				<div style="margin: 24px 0;">
					<a href="#"><i class="fa fa-dribbble"></i></a> 
					<a href="#"><i class="fa fa-twitter"></i></a>  
					<a href="#"><i class="fa fa-linkedin"></i></a>  
					<a href="#"><i class="fa fa-facebook"></i></a> 
				</div>
				<p><button>Ver Pefil</button></p>
				</div>
		</div>
	</div> -->
	<!-- <ngb-tabset class="tabset1">


			<ngb-tab title="Invitar Jugador">
				<ng-template ngbTabContent>
					<li><a>Invitar Jugador</a></li>
				</ng-template>
			</ngb-tab>
			<ngb-tab title="Tab 2">
				<ng-template ngbTabContent>
					<app-asistencias></app-asistencias>
				</ng-template>
			</ngb-tab>

			
	</ngb-tabset> -->

	<!-- Hamburger Menu -->



	<!-- Benefit -->
</div>
